<html>
<body>
	<form method="post" action="/update_post/<%= post.id %>">
		<label for="title">Title</label>
		<input id="title" 
		       type="text" 
		       name="title" 
		       value="<%= post.title%>"><br><br>

		<label for="body">Body</label>
        <textarea id="body"
                  name="body">
        	<%= post.body %>
        </textarea><br><br>

        <label for="author">Author</label>
		<input id="author" 
		       type="text" 
		       name="author" 
		       value="<%= post.author%>"><br><br>

		<button>Update Post</button>
	</form>
	<br>
	<a href="/list_posts">Back To Posts</a>
</body>
</html>